*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf3f7;
}
 .calculator{
    background-color: #1ba4d1ce;
    padding: 20px;
    border-radius: 10px;
  
}
 .calculator input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px  rgba(255, 255, 255,0.1), 5px 5px 15px rgba(255, 255, 255,0.2);
    background: transparent;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;


}
 form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
    flex: 1;
    text-align: end;
    box-shadow: none;
    font-size: 45px;
}
form input.equal{
    width:145px;
    color: black;
}
form .operator{
    color: black;
    font-size: 25px;
}
